@import "../../Utils/constants";

.feed {
    @include homeItems(8);
    grid: feed;
    display: block;
    height: 100%;
    overflow: scroll;

    .feedWrapper {
        padding: 20px;
    }
}

.feed::-webkit-scrollbar {
    width: 0;
}

.feed::-webkit-scrollbar-track {
    background-color: transparent;
}

.feed::-webkit-scrollbar-thumb {
    background-color:transparent;
}

