@import '../../Utils/constants';
$sidebarFontSize : 2vh;

.sidebar {
    @include homeItems(2);
    height: calc(120vh - 50px);
    overflow-y: scroll;
    font-size: $sidebarFontSize;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
    padding:20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    font-size: (1+$sidebarFontSize) !important;
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 300;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    height: 300px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}