@import "../../Utils/constants";

.post {
    width: 100%;
    @include boxShadow();
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2vh;
}

.postProfileImg {
    @include profilePicDims(5vh);
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: small;
}

.postCenter {
    margin: 20px 0px;
}

.postImg {
    margin-top: 20px;
    width: 100% !important;
    margin-inline: 0px;
    max-height: 500px;
    object-fit: cover;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px dashed gray;
}
